<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletFirstApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hi</display-name>
    <servlet-name>Hi</servlet-name>
    <servlet-class>com.createiq.hi.Hi</servlet-class>
    <init-param>
  <param-name>Ename</param-name>
  <param-value>WELCOME</param-value>
  </init-param>
  <init-param>
  <param-name>Oname</param-name>
  <param-value>VIJAYAWADA</param-value>
 </init-param>
 <load-on-startup>1</load-on-startup>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>Hi</servlet-name>
    <url-pattern>/Hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.createiq.hi.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.createiq.hi.Welcome</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome2</display-name>
    <servlet-name>Welcome2</servlet-name>
    <servlet-class>com.createiq.hi.Welcome2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome2</servlet-name>
    <url-pattern>/Welcome2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcom</display-name>
    <servlet-name>Welcom</servlet-name>
    <servlet-class>com.createiq.hi.Welcome2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcom</servlet-name>
    <url-pattern>/Welcom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.createiq.hi.Student</servlet-class>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcomepost</display-name>
    <servlet-name>Welcomepost</servlet-name>
    <servlet-class>com.createiq.hi.Welcomepost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcomepost</servlet-name>
    <url-pattern>/Welcomepost</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>Driver</param-name>
  <param-value>JDBC DRIVER</param-value>
  </context-param>
  <context-param>
  <param-name>Url</param-name>
  <param-value>www.javatpoint.com</param-value>
  
  
  </context-param>
  
  
  
  
</web-app>